{% extends '__base__.html' %}

{% block title %}日志{% endblock %}

{% block content %}
<div id="weekgap">
<template>
  <el-table
    :data="weekgaplist"
    border
    style="width: 100%"
    max-height="250">
    <el-table-column
      fixed
      prop="code"
      label="股票代码"
      width="150">
    </el-table-column>
    <el-table-column
      prop="name"
      label="股票名称"
      width="120">
    </el-table-column>
    <el-table-column
      prop="industry"
      label="产业"
      width="120">
    </el-table-column>
    <el-table-column
      prop="today"
      label="N"
      width="120">
    </el-table-column>
    <el-table-column
      prop="yesterday"
      label="N-1"
      width="300">
    </el-table-column>
    <el-table-column
      prop="tod_high"
      label="N日最高点"
      width="120">
    </el-table-column>
    <el-table-column
      fixed="tod_low"
      label="N日最低点"
      width="120">
    <el-table-column
      prop="yes_high"
      label="N-1日最高点"
      width="120">
    </el-table-column>
    <el-table-column
      fixed="yes_low"
      label="N-1日最低点"
      width="120">
        <el-table-column
        fixed="gaptype"
        label="缺口类型"
        width="120">
        <el-table-column
        fixed="gapdesc"
        label="缺口描述"
        width="120">
      <template scope="scope">
        <el-button
          @click.native.prevent="deleteRow(scope.$index, tableData4)"
          type="text"
          size="small">
          移除
        </el-button>
      </template>
    </el-table-column>
  </el-table>
</template>
</div>
{% endblock %}