.el-menu-main{
    height: 50px;
    line-height: 50px;
}
.el-menu-main span{
    margin-left: 15px;
    font-size: 15px;
    font-weight: 500;
    color: white;
}
.el-menu-vertical-left{
    width: 220px;
}